<img class='panda-logo' src="http://i.ebayimg.com/images/i/281141754105-0-1/s-l1000.jpg" alt="panda-graphic">
<h1 class='col-xs-12 text-center title'>Twitter for Pandas</h1>

<div class='container login-screen'>
  <form action="/sessions" method="POST">
  	Username: <input type="text" name="user[username]" align="center"><br>
  	Password:<input type="password" name="user[password]" align="center"><br>
  	<input type="submit" value="login" />
  </form>

</div>
