img.panda-logo {
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 100px;
  margin-bottom: 5%;
}

.get-started{
  margin-top: 5%;
  font-size: 50px;
}

.left-side {
  border: solid 1px;
}

.right-side {
  border: solid 1px;
}
