<img class='panda-logo' src="http://i.ebayimg.com/images/i/281141754105-0-1/s-l1000.jpg" alt="panda-graphic">
<h1 class='col-xs-12 text-center title'>Twitter for Pandas</h1>

<div class='container login-screen'>

  <form action="/users" method="POST">
    Name: <input type="text" name="user[name]" /><br>
  	Username: <input type="text" name="user[username]" /><br>
  	Create Password: <input type="password" name="user[password]" /><br>
  	Confirm Password: <input type="password" name="password1" /><br>
  	<input type="submit" value="register" />
  </form>
</div>
