<div class="container">
  <h3> Create a post </h3>
  <form action="/users/<%= @user.id %>/posts" method="post">
  	Tweet!  <textarea name="user[content]" rows="20" cols="40"></textarea>
  	<input type="submit" value="Create post">
  </form>
  <br>
  <br>
  <br>

</div>
