<img class='panda-logo' src="http://i.ebayimg.com/images/i/281141754105-0-1/s-l1000.jpg" alt="panda-graphic">
<h1 class='col-xs-12 text-center title'>Twitter for Pandas</h1>
<!-- need logic around current_user -->
<% if true%>
  <div class='col-xs-12 text-center'>
    <h2 class='get-started'><a href='/sessions/new'>Login</a></h2>
    <h3 class='get-started'><a href='/users/new'>Register</a></h2>
  </div>
<!-- else show two column div -->
<% else %>
  <div class='col-xs-3 left-side'>LEFT SIDE</div>
  <div class='col-xs-offset-1 col-xs-8 right-side'>RIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDE</div>
<% end %>
