<h1 class='text-center title'>Twitter</h1>
<!-- need logic around current_user -->
<% if true%>
  <div class='col-xs-6'>
    <div class='col-xs-6'>
      <h2><a href='/sessions/new'>Login</a></h2>
      <h2><a href='/users/new'>Register</a></h2>
    </div>
  </div>
<!-- else show two column div -->
<% else %>
  <div class='col-xs-3 left-side'>LEFT SIDE</div>
  <div class='col-xs-offset-1 col-xs-8 right-side'>RIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDE</div>
<% end %>
