<h1 class='text-center title'>Twitter</h1>
<!-- if no current session show login screen -->

<!-- else show two column div -->

<div class='container '>
  <div class='row'>
    <div class='col-xs-3 left-side'>LEFT SIDE</div>
    <div class='col-xs-offset-1 col-xs-8 right-side'>RIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDERIGHT SIDE</div>
  </div>
</div>

<!-- how to extend the single row all the way to the bottom of page. -->
